
     /*Estilos LEA*/

.comunicacion{
      color:#CD6155;
      border-color:#CD6155;
    }
    .cienciassocialesorange{
      color:#E77724;
      border-color: #E77724;
    }
    .emprendimientoyellow{
      color:#D4AC0D;
      border-color:#D4AC0D; 
    }
    .paraescolarlila{
      color:#A569BD;
      border-color:#A569BD;
    }
    .propedeuticapink{
      color:#F587DC;
      border-color:#F587DC; 
    }
    .matematicasturquesa{
      color:#189BAB;
      border-color:#189BAB; 
    }
    .experimentalesgreenlight{
      color:#58D68D;
      border-color: #58D68D;
    }

    /*ESTILOS PARA PANEL LEA*/
     /*sabiasque*/
      .sabiasque{
  border-style: solid;
  border-width: 1px;
  border-color: #b6e3f3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #c4e7f4;
  color: #333333; }
  .panel > :first-child {
    margin-top: 0; }
  .panel > :last-child {
    margin-bottom: 0; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
    color: #333333; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
    .panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
      line-height: 1.4; }
   /*sabiasque   */